body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;

}

.custom-navbar {
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
}

.navbar-container {
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 150px;
  margin-right: 10px;
}

.navbar-brand {
  margin: 0 10px;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

button.navbar-brand#log{
  border-radius: 20px;
  background-color: #0a2c5a;
  color: white;
}

button.navbar-brand#sign{
  border-radius: 20px;
  background-color: #e0e0e0;
}

button.navbar-brand#sign:hover{
  background-color: #aeadad;
}
button.navbar-brand#log:hover{
  background-color: #071e3e;
}

/* carossel */
.carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  opacity: 0;
  transform: translateY(100%); /* Start off the screen from the bottom */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  opacity: 1;
  transform: translateY(0); /* Slide into view */
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-indicators button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.carousel-indicators .active {
  opacity: 1;
}

.hero {
  text-align: center;
  padding-top: 140px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 0;
}

.hero h2 {
  font-size: 40px;
  color: #0a2c5a;
  margin: 10px 0 20px 0;
}

.carousel-inner {
  padding-bottom: 20px;
}

.custom-dots {
  margin-top: -10px;
}

.custom-dots button {
  background-color: #ccc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: none;
  margin: 0 5px;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.custom-dots .active {
  background-color: #5e9c8f;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Opcional: centraliza verticalmente também */
  padding: 20px;
  flex-wrap: wrap; /* Garante que o conteúdo se ajuste bem em telas pequenas */
}

.img_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  padding: 10px;
  grid-auto-rows: 10px;

}


.card {
  padding: 0px;
  margin: 15px 10px;
  border-radius: 16px;
  border: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container without distortion */
  border-radius: 16px;
  border: none;

}

.card_medium {
  grid-row-end: span 33;
  border-radius: 16px;

}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1.3s ease forwards;
}